<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% @cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | $<%= line_item.item.price/100 %> | Quantity: <%= line_item.quantity %> |
  <strong>There are <%= line_item.item.inventory %> left in stock.</strong></p>
<% end %>

<p>Order total: <strong>$<%= @cart.total/100 %></strong> </p>

<%= button_to('Checkout', checkout_path) unless @cart.status == "submitted" %>
